doctype html
html
  head
    style.
      body {
        background: #333;
      }
      svg {
        margin: 0 auto;
        width: 80%;
        display: block;
      }
  body
    h1 hello world
    != chart
